/*NAVIGATION*/
.navigation a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navigation li {
  display: inline;
}

/*JUMBOTRON*/
.jumbotron {
  background-image:url('artsy_hot_glue.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 a {
  color: #FFF;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

a {
  color: #00b0ff;
  font-size: 20px;
}

.jumbotron p {
  font-size: 20px;
  color: #FFF;
}

/*MINI TITLE*/
.mini-title {
  background-color: #7A7A99;
}

.mini-title h1 a{
  color:#FFF;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.mini-title p {
  font-size: 20px;
  color: #fff;
}

/*LEARN MORE*/
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

/*MEETING NOTES*/
.meeting-notes h2{
  font-size: 20px;
}

.meeting-notes p {
  font-size: 16px;
}

.meeting-notes ul{
  font-size: 16px;
}

.text h2{
  font-size: 16px;
}

.space {
  margin-top: 20px;
}